// CSS HOME SECTION
.home {
    margin-top: 180px;
    @include media-breakpoint-down(xxl) {
        margin-top: 160px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 140px;
    }

    .label {
        p {
            font-size: 20px;
            font-weight: map-get($font-weights, medium);
            color: $hitam;
        }

        @include media-breakpoint-down(sm) {
            img {
                width: 30px;
            }
        }
    }
    .heading {
        margin-top: 30px;
        font-size: 58px;
        font-weight: map-get($font-weights, bold);
        line-height: 79px;
        color: $maroon;

        @include media-breakpoint-down(xxl) {
            font-size: 46px;
            line-height: 60px;
        }

        @include media-breakpoint-down(sm) {
            margin-top: 20px;
            font-size: 40px;
            line-height: 48px;
        }
    }

    .subheading {
        color: $hitam;
        margin-top: 35px;
        font-size: 22px;

        @include media-breakpoint-down(xxl) {
            font-size: 16px;
            margin-top: 20px;
        }
    }
    .buttons {
        margin-top: 95px;
        @include media-breakpoint-down(sm) {
            margin-top: 50px;
        }
    }

    .hero-img {
        @include media-breakpoint-down(xxl) {
            max-width: 500px;
            width: 100%;
        }
        @include media-breakpoint-down(md) {
            max-width: 400px;
            margin-top: 100px;
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 60px;
            padding: 0 10px;
        }
    }
}

// CSS ABOUT SECTION
.about {
    background-color: $cream2;
    border-radius: 70px 70px 0px 0px;
    padding: 100px 0;

    @include media-breakpoint-down(sm) {
        border-radius: 30px 30px 0px 0px;
        padding-top: 100px;
    }

    .heading-section {
        span {
            color: $orange-main;
        }
    }
    .about-content {
        span {
            font-weight: map-get($font-weights, bold);
            color: $maroon;
        }
    }
    .thumbnail-about {
        @include media-breakpoint-down(xxl) {
            max-width: 500px;
            width: 100%;
        }
    }
    .btn-about-wrapper {
        margin-top: 100px;

        @include media-breakpoint-down(xxl) {
            margin-top: 60px;
        }
    }
    .ornabout {
        @include media-breakpoint-down(xxl) {
            max-width: 150px;
            max-height: 300px;
            width: 100%;
            height: 100%;
        }
        @include media-breakpoint-between(md, lg) {
            max-width: 70px;
            max-height: 200px;
            width: 100%;
            height: 100%;
        }
        @include media-breakpoint-down(sm) {
            max-width: 50px;
            max-height: 100px;
            width: 100%;
            height: 100%;
        }
    }
}

// CSS SERVICES SECTION
.service {
    .card {
        border-radius: 20px !important;
        border: 2px solid $orange-main;
        .title-card {
            font-weight: map-get($font-weights, medium);
            font-size: 25px;
            color: $maroon;
        }
        &:hover {
            background-color: $orange-main !important;
            border: 2px solid transparent;
        }
    }
}

// CSS PRODUCT SECTION
.product {
    background-color: $cream2;
    padding: 100px 0;
    color: #fff;
    .row-banner {
        background-color: $maroon;
        border-radius: 20px !important;
        h3 {
            font-weight: map-get($font-weights, bold);
            color: $orange-main;
        }
    }
    .row-product {
        margin-top: 100px;
    }
    .card {
        border-radius: 20px;
        overflow: hidden;
        max-width: 315px;
        max-height: 375px;

        .caption-product {
            font-weight: map-get($font-weights, medium);
            font-size: 20px;
        }

        &:hover {
            img {
                transform: scale(110%);
            }
        }
    }
}

// CSS TESTI SECTION
.testi {
    background-color: $cream1;
    .card {
        border-radius: 20px;
    }
    .heading-section {
        margin-bottom: 20px;
    }
}

// BLOG CSS SECTION
.blog {
    background-color: $cream2;
    padding: 140px 0;

    @include media-breakpoint-down(sm) {
        padding: 80px 0;
    }

    .row-blog-card {
        margin-top: 80px;
        @include media-breakpoint-down(sm) {
            margin-top: 40px;
        }

        .card {
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            border: none;
            @include media-breakpoint-down(sm) {
                max-width: 300px;
                max-height: 370px;
            }

            .img-box {
                padding: 10px;
                overflow: hidden;
                object-fit: cover;
                border-radius: 15px;

                .category-blog {
                    background-color: $orange-main;
                    padding: 5px 12px;
                    border-radius: 20px;
                    bottom: 10px;
                    left: 20px;
                    color: #fff;
                    font-size: 13px;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            .title-blog {
                font-size: 18px;
                font-weight: map-get($font-weights, medium);
            }
        }
    }

    .row-btn-more {
        margin-top: 100px;
    }
}

// SUBSCRIBE CSS SECTION
.subscribe {
    .container {
        background-color: $maroon;
        border-radius: 20px;
        padding: 50px 0;

        .form-group {
            border-radius: 15px;

            input:focus {
                outline: none;
            }
        }
    }
}
